@import "tailwindcss";
@plugin "daisyui";


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes the margin in older versions of Chrome */
}